<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>您的好友@你</title>
    <link th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/public/details.css}" rel="stylesheet"/>
    <link th:href="@{/css/commons/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/commons/style.min.css}" rel="stylesheet">

</head>

<body class="gray-bg">
    <div id="main_container">
        <div id="img_container">
            <img id="reward_img" th:src="@{/reward_images/reward}+${gameInfo.reward.id}+@{.png}">
        </div>
        <p id="money_left" th:if="${status == 1}">
            <span class="introduce">还差</span>
            <span id="price_left" th:text="${gameInfo.timesLeft}+个队友"></span>
            <span class="introduce">就免费领</span><br>
            <span class="introduce">就剩</span>
            <span id="reward_left" th:text="${reward.surplus}+件"></span>
            <span class="introduce">赶紧抢啊</span>
        </p>
        <p id="win_msg" th:if="${status == 2}">
            <span class="introduce">砍价成功，可以免费领取！</span>
        </p>
        <p id="lose_msg" th:if="${status == 0}">
            <span class="introduce">商品已经被抢光了，请下次努力！</span>
        </p>
        <div id="BTNs_container">
            <a th:href="@{/bargain/}+${gameInfo.id}"><button class="BTN">帮他一把</button></a>
            <a th:href="@{/actInfo/}+${gameInfo.activity.id}"><button class="BTN">我也要参加</button></a>
            <div class="border"></div>
            <button class="BTN" id="share_BTN">分享</button>
            <a th:href="@{/myrecords}"><button class="BTN">我的记录</button></a>
        </div>
        <div id="helper_container">
            <p th:each="helper:${helpers}" id="helper_info">
                <span th:text="${helper.helper.username}"></span>
                <span>已助一臂之力！</span>
            </p>
            <a id="all_helpers" th:href="${gameInfoId != null}?@{/allhelpers/}+${gameInfoId}" th:if="${size} gt 3">查看全部</a>
        </div>
        <div id="adv_container">
            <a th:each="adv:${advs}" th:href="@{/toadv/}+${adv.id}">
                <img class="adv_imgs" th:src="@{/adv_images/adv}+${adv.id}+@{.png}">
            </a>
        </div>
        <div id="share_container">
            <p id="share_msg"></p>
            <img id="share_QR" src="">
        </div>
    </div>
    <input type="hidden" id="msg" th:value="${msg}">
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.1.1/js/bootstrap.min.js}"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script th:src="@{/js/public/details.js}"></script>
</body>
</html>
