<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USERINFO</title>
    <link th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/public/user_info.css}" rel="stylesheet"/>
    <link th:href="@{/css/commons/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/commons/style.min.css}" rel="stylesheet">

</head>

<body class="gray-bg">
    <div id="main_container">
    </div>
    <div id="body">
        <div class="info" th:each="gameInfo:${gameInfos}">
            <span id="act_name" th:text="${gameInfo.activity.act_name}"></span>
            <span id="reward_name" th:text="${gameInfo.reward.rewardName}"></span>
            <span id="status" th:text="${gameInfo.activity.act_status} eq 1?进行中:已结束"></span>
            <a id="option" th:href="@{/game/}+${gameInfo.id}">查看</a>
        </div>
    </div>
    <div id="footer"></div>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.1.1/js/bootstrap.min.js}"></script>
</body>

</html>
