#main_container
{
    background: url(../../images/game_background.jpg) no-repeat;
    background-size: 100% 100%;
    min-width: 100%;
    min-height: 100%;
}
#img_container {
    height: 30%;
}
#reward_img {
    margin-top: 5%;
    padding-left: 35%;
}
#money_left {
    padding-left: 23%;
    font-size: 25pt;
}
#win_msg {
    padding-left: 23%;
    font-size: 25pt;
}
.introduce {
    color: black;
    font-size: 15pt;
}
#price_left {
    color: black;
    font-size: 15pt;
    font-style: italic;
    font-weight: bold;
}
#BTNs_container {
    margin-top: 5%;
    padding-left: 18%;
}
.border {
    height: 5px;
}
.BTN {
    background-color: transparent;
    border-color: black;
    font-size: 14pt;
    color: black;
    outline: none;
    min-width: 40%;
    vertical-align: top;
}

#helper_info {
    padding-left: 30%;
    margin-top: 3%;
    font-size: 11pt;
    color: black;
}

#all_helpers {
    padding-left: 43%;
    color: black;
    font-weight: bold;
}
#adv_container {
    padding-left: 4.5%;
    width: 100%;
}
.adv_imgs {
    padding-top: 1%;
    width: 45%;
    height: 45%;
}

