html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(149,16,11);
}
#main_wrapper {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
#cmb_logo_container {
    width: 100%;
    padding-top: 5%;
    padding-left: 5%;
}
#cmb_logo {
    width: 33%;
}
#img_wrapper {
    margin: 0 auto;
    width: 100%;
    height: 35.8%;
    text-align: center;
    position: relative;
}
#img_wrapper .img_container {
    width: 50%;
    height: 75%;
    background: url("../../images/reward_container.png") no-repeat center center;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    border: 0;
    margin: auto;
}
#reward_img {
    width: 85%;
    height: 85%;
}
#img_wrapper .img_container:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0px;
    vertical-align: middle;
}
#body_container {
    margin: 0 auto;
    text-align: center;
    min-width: 100%;
    min-height: 45.1%;

}
.times_left_container {
    background: url(../../images/times_left_background.png);
    background-size: 100% 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 80%;
    font-weight: bold;

}
.border {
    height: 10%;
}
#reward_left_container {
    margin: 0 auto;
    text-align: right;
    width: 80%;
}
#reward_left {
    color: rgb(254,255,71);
    font-size: 11pt;
    font-weight: bold;
}

.introduce {
    color: white;
    font-size: 14pt;
}
#times_left {

    color: rgb(250,214,67);
    font-size: 14pt;
}

#BTNs_container {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.border {
    height: 5px;
}
.BTN {
    border-color: transparent;
    font-size: 18pt;
    color: transparent;
    outline: none;
    width: 35%;
    vertical-align: top;
    margin: 0 auto;
}
.btn_a {
    text-decoration: none;
    outline: none;
}
#help_BTN {
    background:no-repeat center top;
    background-size: 90% 90%;
}
#join_BTN {
    background:no-repeat center top;
    background-size: 90% 90%;
}
#share_BTN {
    background:  no-repeat center top;
    background-size: 90% 90%;
}
#record_BTN {
    background:no-repeat center top;
    background-size: 90% 90%;
}

#helper_container {
    margin: 0 auto;
    text-align: center;
}
#helper_info {
    font-size: 11pt;
    color: rgb(255,232,169);
}

#all_helpers {
    color: rgb(255,232,169);
    font-weight: bold;
}
#adv_container {
    padding-left: 1%;
    width: 100%;
    float: left;

}
.advs {
    width: 49%;
    float: left;

}
.adv_imgs {
    padding-top: 3%;
    padding-left: 3%;
    width: 100%;
}


