body {
    background: url(../../images/details_footer_background.jpg);
    background-size: 100% 100%;
}
#main_head
{
    background: url(../../images/option_background_head.jpg) no-repeat;
    background-size: 100% 100%;
    min-width: 100%;
    height: 9.3%;
}
#cmb_logo_container {
    width: 100%;
    padding-top: 5%;
    padding-left: 5%;
}
#cmb_logo {
    width: 33%;
}
#img_container {
    background: url(../../images/details_reward_background.jpg) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    height: 30%;
    min-width: 100%;
    min-height: 35.8%;
    text-align: center;
}
#reward_img {
    padding-top: 15%;
    width: 40%;
    height: 90%;
}
#body_container {
    background: url(../../images/details_body_background.jpg) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    text-align: center;
    min-width: 100%;
    min-height: 45.1%;

}
.times_left_container {
    background: url(../../images/times_left_background.png);
    background-size: 100% 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 80%;
    font-weight: bold;

}
.border {
    height: 10%;
}
#reward_left_container {
    margin: 0 auto;
    text-align: right;
    width: 80%;
}
#reward_left {
    color: rgb(254,255,71);
    font-size: 11pt;
    font-weight: bold;
}

.introduce {
    color: white;
    font-size: 14pt;
}
#times_left {

    color: rgb(250,214,67);
    font-size: 14pt;
}

#BTNs_container {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.border {
    height: 5px;
}
.BTN {
    border-color: transparent;
    font-size: 18pt;
    color: transparent;
    outline: none;
    width: 35%;
    vertical-align: top;
    margin: 0 auto;
}
.btn_a {
    text-decoration: none;
    outline: none;
}
#help_BTN {
    background: url(../../images/help_btn.png);
    background-size: 100% 100%;
}
#join_BTN {
    background: url(../../images/details_join_btn.png);
    background-size: 100% 100%;
}
#share_BTN {
    background: url(../../images/share_btn.png);
    background-size: 100% 100%;
}
#record_BTN {
    background: url(../../images/records_btn.png);
    background-size: 100% 100%;
}

#helper_container {
    margin: 0 auto;
    text-align: center;
}
#helper_info {
    font-size: 11pt;
    color: rgb(255,232,169);
}

#all_helpers {
    color: rgb(255,232,169);
    font-weight: bold;
}
#adv_container {
    padding-left: 1%;
    width: 100%;
    float: left;

}
.advs {
    width: 49%;
    float: left;

}
.adv_imgs {
    padding-top: 3%;
    padding-left: 3%;
    width: 100%;
}


