#main_container
{
    background: url(../../images/background.png) no-repeat;
    background-size: 100% 100%;
    min-width: 100%;
    min-height: 100%;
}

#theme {
    margin-top: 15%;
    background-size: 100% 100%;
    min-width: 100%;
    min-height: 100%;
}
#username_container {
    margin-left: 13%;
    margin-top: 13%;
    background: url(../../images/phone_number_input.png) no-repeat;
    height: 100%;
}
#username{
    margin-left: 18%;
    font-size: 20pt;
    background: transparent;
    border-color: transparent;
    outline: none;
    height: 60px;
}

#password_container {
    margin-left: 13%;
    margin-top: 5%;
    background: url(../../images/vaildate_code_input.png) no-repeat;
    height: 100%;
    max-width: 35%;
}

#password {
    font-size: 20pt;
    background: transparent;
    border-color: transparent;
    margin-left: 15%;
    height: 60px;
    outline: none;
    width: 100%;
}

#vaildateBTN {
    background: url("../../images/vaildate_code_button.png");
    background-size: 100% 100%;
    margin-top: -15%;
    margin-left: 50%;
    border-bottom: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    outline: none;
    min-width: 38%;
    vertical-align: top;
}
#vaildateBTN_holder {
    min-width: 100%;
    min-height: 55px;
}

#submitBTN {
    background: url("../../images/login_button.png");
    background-size: 100% 100%;
    margin-top: 15%;
    margin-left: 15%;
    border-bottom: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    outline: none;
}
#submitBTN_holder {
    min-width: 280px;
    min-height: 80px;
}