html,body {
    height: 100%;
    width: 100%;
}
#main_wrapper
{
    background: url(../../images/login_background.jpg) no-repeat;
    background-size: 100% 100%;
    min-width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
#cmb_logo_container {
    width: 100%;
    padding-top: 5%;
    padding-left: 5%;
}
#cmb_logo {
    width: 33%;
}
#loginForm {
    min-height: 30%;
    height: 44%;
    position: absolute;
    top: 58%;
}
#main_body
{
    min-width: 100%;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
#username{
    text-align: center;
    border-radius: 10px;
    font-size: 18pt;
    background: white;
    border-color: rgb(206,206,206);
    outline: none;
    width: 77%;
}

#password {
    margin: 3% auto;
    font-size: 18pt;
    text-align: center;
    border-radius: 10px;
    background: white;
    border-color: rgb(206,206,206);
    outline: none;
    width: 38%;
}

#vaildateBTN {
    background: url(../../images/vaildate_btn.png) no-repeat;
    background-size: 100% 100%;
    border-color: transparent;
    outline: none;
    width: 38%;
    font-size: 20pt;
    color: transparent;
    margin: 0 auto;
}
#submitBTN {
    font-size: 18pt;
    text-align: center;
    background: url(../../images/login_btn.png) no-repeat;
    background-size: 100% 100%;
    color: transparent;
    width: 40%;
    border-color: transparent;
    outline: none;
    position: absolute;
    left: 30%;
}
