#main_container
{
    background: url(../../images/user_info_background_head.jpg) no-repeat;
    background-size: 100% 100%;
    min-width: 100%;
    min-height: 59%;
}
#body
{
    background: url(../../images/user_info_background_body.jpg) no-repeat;
    background-size: 100% 100%;
    min-width: 100%;
    min-height: 41%;
    margin: 0 auto;
    text-align: center;
}
table{
    /*border-collapse: collapse;*/
    margin: auto;
    width: 80%;
    border-spacing:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(255,232,169);
}

.custom_tb th,.custom_tb td{
    border: 1px solid rgb(255,232,169);
    padding: 4px;
    text-align: center;
}
.custom_tb th{
    background-color: transparent;
    color: white;
}
.custom_tb th:first-child{
    border-radius: 10px 0 0 0;
}
.custom_tb th:last-child{
    border-radius: 0 6px 0 0;
}
.custom_tb tr:last-child td:first-child{
    border-radius: 0 0 0 6px;
}
.custom_tb tr:last-child td:last-child{
    border-radius: 0 0 6px 0;
}
a {
    color: rgb(255,232,169);
}